<table class="table table-borderless">
  <tbody>
    <tr>
      <td class="col-md-2"></td>
      <td class="col-md-2"></td>
      <td class="col-md-2">
        <div class="card text-center">
            <img class="img-responsive" [src]= "gk.imagePath" >
            <h4 class="card-title" >{{gk.name}}</h4>
        </div>
      </td>
      <td class="col-md-2"></td>
      <td class="col-md-2"></td>
    </tr>

    <tr>
        <td class="col-md-2">
          <div class="card text-center">
              <img class="img-responsive" [src]= "dr.imagePath" alt="Card image cap">
              <h4 class="card-title" >{{dr.name}}</h4>
          </div>
        </td>
        <td class="col-md-2">
          <div class="card text-center">
              <img class="img-responsive" [src]= "dcr.imagePath" alt="Card image cap">
              <h4 class="card-title" >{{dcr.name}}</h4>
          </div>
        </td>
        <td class="col-md-2"></td>
        <td class="col-md-2"></td>
        <td class="col-md-2"></td>
      </tr>

  </tbody>
</table>