<table class="table">
  <tbody>
    <tr>
      <th scope="row">GK</th>
    </tr>
      <app-gk
        *ngFor = "let player of gks"
        [gk] = "player"
        ></app-gk>
    <tr>
      <th scope="row">DR</th>
    </tr>
    <tr>
        <app-dr
        *ngFor = "let player of drs"
        [dr] = "player"
        ></app-dr>
    </tr>
    <tr>
        <th scope="row">DCR</th>
      </tr>
    <tr>
        <app-dcr
        *ngFor = "let player of dcrs"
        [dcr] = "player"
        ></app-dcr>
    </tr>
    <tr>
      <th scope="row">DCL</th>
    </tr>
    <tr>
      <app-dcl
      *ngFor = "let player of dcrs"
      [dcl] = "player"
      ></app-dcl>
    </tr>
    <tr>
      <th scope="row">DL</th>
    </tr>
    <tr>
      <app-dl
      *ngFor = "let player of drs"
      [dl] = "player"
      ></app-dl>
    </tr>

    <tr>
      <th scope="row">DMC</th>
    </tr>
    <tr>
      <app-dmc
      *ngFor = "let player of mcs"
      [dmc] = "player"
      ></app-dmc>
    </tr>

    <tr>
      <th scope="row">MCR</th>
    </tr>
    <tr>
      <app-mcr
      *ngFor = "let player of mcs"
      [mcr] = "player"
      ></app-mcr>
    </tr>

    <tr>
      <th scope="row">MCL</th>
    </tr>
    <tr>
      <app-mcl
      *ngFor = "let player of mcs"
      [mcl] = "player"
      ></app-mcl>
    </tr>

    <tr>
      <th scope="row">FCR</th>
    </tr>
    <tr>
      <app-fcr
      *ngFor = "let player of fcs"
      [fcr] = "player"
      ></app-fcr>
    </tr>

    <tr>
      <th scope="row">FCL</th>
    </tr>
    <tr>
      <app-fcl
      *ngFor = "let player of fcs"
      [fcl] = "player"
      ></app-fcl>
    </tr>
  
    <tr>
      <th scope="row">ST</th>
    </tr>
    <tr>
      <app-fc
      *ngFor = "let player of fcs"
      [fc] = "player"
      ></app-fc>
    </tr>
   
  </tbody>
</table>