<table class="table">
  <tbody>
    <tr>
      <th scope="row">GK</th>
    </tr>
      <app-gk
        *ngFor = "let player of gks"
        [gk] = "player"
        ></app-gk>
    <tr>
      <th scope="row">DR</th>
    </tr>
    <tr>
        <app-dr
        *ngFor = "let player of drs"
        [dr] = "player"
        ></app-dr>
    </tr>
    <tr>
        <th scope="row">DCR</th>
      </tr>
    <tr>
        <app-dcr
        *ngFor = "let player of dcrs"
        [dcr] = "player"
        ></app-dcr>
    </tr>
    <tr>
      <th scope="row">DCL</th>
    </tr>
    <tr>
      <app-dcl
      *ngFor = "let player of dcrs"
      [dcl] = "player"
      ></app-dcl>
    </tr>
    <tr>
      <th scope="row">DL</th>
    </tr>
    <tr>
      <app-dl
      *ngFor = "let player of drs"
      [dl] = "player"
      ></app-dl>
    </tr>
  
   
  </tbody>
</table>